@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0; }

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block; }

a {
  color: #404040;
  transition: color .2s ease;
  text-decoration: unset; }

body {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  font-size: 16px;
  width: 100%;
  position: relative;
  font-weight: 400;
  line-height: 1.2;
  box-sizing: border-box; }

.container {
  width: 1170px;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

.col, [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px; }

/*
* Header
*/
.taskbar {
  border-top: solid 1px #d0d0cf;
  border-bottom: solid 1px #d0d0cf;
  margin-top: 15px;
  padding: 5px 0; }
  .taskbar ul li {
    display: inline-block;
    font-size: 14px; }
  .taskbar .taskbar__language li:not(:last-child) {
    margin-right: 20px; }
  .taskbar .taskbar__social li:not(:first-child) {
    margin-left: 10px; }

.banner {
  background-color: #da0000;
  text-align: center;
  padding: 15px 0; }
  .banner img {
    margin: 0 auto;
    max-width: 558px;
    height: auto; }

.main-menu {
  background-color: #dbdcdd;
  color: #060808;
  margin-bottom: 17px; }
  .main-menu .logo-mobile {
    display: none;
    max-width: 135px; }
  .main-menu .menu-mobile {
    width: 100%; }
  .main-menu .toogle-menu-mobile {
    display: none; }
  .main-menu .main-menu__link .link__homepage {
    background: #b30000;
    margin-right: 30px;
    padding: 10px 12px 9px; }
    .main-menu .main-menu__link .link__homepage img {
      width: 24px;
      height: 24px; }
  .main-menu .main-menu__link ul li {
    display: inline-block; }
    .main-menu .main-menu__link ul li a {
      padding: 12px 20px;
      color: #060808;
      text-decoration: none;
      display: inline-block; }
      .main-menu .main-menu__link ul li a:hover {
        background-color: #b30000;
        color: #ffff; }
  .main-menu .main-menu__search input, .main-menu .main-menu__search button,
  .main-menu .main-menu__search input:focus,
  .main-menu .main-menu__search input:focus-visible {
    border: solid 1px #cdd6d7;
    border-radius: 0;
    outline: unset; }
  .main-menu .main-menu__search input {
    min-height: 25px;
    min-width: 200px;
    padding: 0 5px; }
  .main-menu .main-menu__search button {
    padding: 2px 5px;
    margin-left: 5px;
    transition: opacity .2s linear; }
    .main-menu .main-menu__search button:hover {
      cursor: pointer;
      opacity: .6; }

/*
* Footer
*/
footer {
  background-color: #404040;
  color: #ffff;
  padding: 55px 0; }
  footer .footer__logo {
    height: 100%; }
  footer .footer__desc {
    width: 60%;
    margin-right: 10px;
    font-size: 16px; }
    footer .footer__desc p {
      margin-bottom: 2px; }
  footer .footer__app {
    width: calc(100% - 60% - 10px); }
    footer .footer__app .qrcode {
      width: 35%;
      margin-right: 10px;
      text-align: center; }
      footer .footer__app .qrcode .qrcode__des {
        font-size: 14px;
        margin-bottom: 2px; }
    footer .footer__app .app__list {
      width: calc(100% - 35% - 10px);
      margin-top: 19px; }
      footer .footer__app .app__list img:not(:last-child) {
        margin-bottom: 10px; }

/*
* News
*/
.news-highlight {
  margin-bottom: 50px; }
  .news-highlight a {
    text-decoration: unset; }
  .news-highlight .news__first .news-first__title {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 0; }
    .news-highlight .news__first .news-first__title a {
      color: #222222; }
      .news-highlight .news__first .news-first__title a:hover {
        color: #da0000; }
  .news-highlight .news__first .news-first__desc {
    font-size: 23px;
    margin-top: 25px; }
  .news-highlight .news__list .news__list-title {
    color: #da0000;
    padding: 12px 0;
    background: #dbdcdd;
    text-align: center;
    margin-bottom: 15px; }
  .news-highlight .news__list .news__list-item .news-item {
    display: flex;
    padding-bottom: 7px;
    margin-bottom: 7px; }
    .news-highlight .news__list .news__list-item .news-item:not(:last-child) {
      border-bottom: dashed 1px #d0d0cf; }
    .news-highlight .news__list .news__list-item .news-item .news-item__img {
      width: 41.666667%;
      margin-left: 15px; }
    .news-highlight .news__list .news__list-item .news-item .news-item__des {
      width: calc(100% - 41.666667% - 15px);
      font-size: 18px; }
      .news-highlight .news__list .news__list-item .news-item .news-item__des a:hover {
        color: #da0000; }
    .news-highlight .news__list .news__list-item .news-item.new-item--option .news-item__des {
      order: 2;
      width: calc(100% - 36.5% - 15px); }
      .news-highlight .news__list .news__list-item .news-item.new-item--option .news-item__des .item-desc__option {
        margin-top: 5px;
        opacity: .75;
        font-size: 12px; }
        .news-highlight .news__list .news__list-item .news-item.new-item--option .news-item__des .item-desc__option img {
          margin-right: 5px;
          margin-bottom: 2px;
          width: 18px;
          display: inline-block; }
    .news-highlight .news__list .news__list-item .news-item.new-item--option .news-item__img {
      margin-left: 0;
      margin-right: 15px;
      order: 1;
      width: 36.5%; }
    .news-highlight .news__list .news__list-item .news-item.new-item--option:not(:last-child) {
      border-bottom: solid 1px #d0d0cf;
      padding-bottom: 25px;
      margin-bottom: 25px; }
    .news-highlight .news__list .news__list-item .news-item.new-item--option:last-child {
      padding-bottom: 0;
      margin-bottom: 0; }

/*
* Block
*/
.block-news {
  border-top: solid 1px #cccbcb;
  padding: 35px 0 50px 0; }
  .block-news .block-news__title {
    border-bottom: solid 3px #da0000;
    color: #da0000;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 20px;
    font-size: 22px; }
  .block-news .block__first .block-first__title {
    font-size: 22px;
    color: #222222;
    margin: 10px 0; }
  .block-news .block__middle {
    background-color: #cdccca;
    padding: 15px 10px;
    height: 100%; }
    .block-news .block__middle .block-first__title {
      font-size: 22px;
      color: #222222;
      margin-bottom: 25px; }
    .block-news .block__middle .block-first__desc {
      font-size: 19px; }
  .block-news .block__second .news:not(:last-child) {
    margin-bottom: 20px; }
  .block-news .block__second .news .news-desc {
    margin-top: 5px; }
  .block-news .block__second .news.new--horizontal:not(:last-child) {
    margin-bottom: 45px; }
    .block-news .block__second .news.new--horizontal:not(:last-child).new--boder-bottom {
      border-bottom: solid 1px #cccbcb;
      padding-bottom: 22px;
      margin-bottom: 22px; }
  .block-news .block__second .news.new--horizontal img {
    width: 40%;
    margin-left: 15px; }
  .block-news .block__second .news.new--horizontal .news-desc {
    width: calc(100% - 40% - 15px);
    margin-top: 0; }
  .block-news .block__second.block__second--order {
    display: flex;
    flex-direction: column; }
    .block-news .block__second.block__second--order .news img {
      margin-right: 15px;
      margin-left: 0;
      order: 1; }
    .block-news .block__second.block__second--order .news .news-desc {
      order: 2; }
  .block-news.media {
    background-color: #e9ecee;
    border-top: solid 10px #acb5bc;
    margin-left: -35px;
    margin-right: -35px;
    padding-bottom: 0;
    overflow: hidden; }
    .block-news.media .media__wrapper {
      padding: 0 35px; }
      .block-news.media .media__wrapper .media__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px; }
        .block-news.media .media__wrapper .media__head .block-news__title {
          margin-bottom: 0; }
        .block-news.media .media__wrapper .media__head .media__category .media-category__label {
          display: none; }
        .block-news.media .media__wrapper .media__head .media__category ul li {
          display: inline-block; }
          .block-news.media .media__wrapper .media__head .media__category ul li:not(:last-child)::after {
            content: '|';
            color: #222222;
            vertical-align: text-bottom; }
          .block-news.media .media__wrapper .media__head .media__category ul li a {
            padding: 0 20px;
            color: #222222;
            text-decoration: none;
            font-size: 18px; }
            .block-news.media .media__wrapper .media__head .media__category ul li a:hover {
              opacity: .6; }
      .block-news.media .media__wrapper .media__list {
        position: relative; }
        .block-news.media .media__wrapper .media__list .media-item .media-item__title {
          margin-top: 10px; }
        .block-news.media .media__wrapper .media__list .owl-nav .owl-prev, .block-news.media .media__wrapper .media__list .owl-nav .owl-next {
          position: absolute;
          top: calc(50% - 20px);
          transform: translateY(-50%);
          z-index: 9; }
          .block-news.media .media__wrapper .media__list .owl-nav .owl-prev:hover, .block-news.media .media__wrapper .media__list .owl-nav .owl-next:hover {
            background: unset; }
        .block-news.media .media__wrapper .media__list .owl-nav .owl-prev {
          left: -38px; }
        .block-news.media .media__wrapper .media__list .owl-nav .owl-next {
          right: -38px; }

.news-cate {
  margin-bottom: 50px; }
  .news-cate .news-item {
    margin-bottom: 40px; }
    .news-cate .news-item .news-item__des {
      margin-top: 10px; }
      .news-cate .news-item .news-item__des a:hover {
        color: #da0000; }

.news-paginate {
  margin: 0 auto;
  text-align: center; }
  .news-paginate a {
    background-color: #cccccc;
    color: #222222;
    padding: 15px 40px;
    display: inline-block;
    transition: all .2s ease; }
    .news-paginate a:hover {
      color: #fff;
      background-color: #da0000; }

.news-detail {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: solid 3px #0b164f; }
  .news-detail .news-detail__title {
    color: #da0000;
    margin-bottom: 20px;
    font-size: 26px; }
  .news-detail .news-detail__head {
    font-size: 12px;
    opacity: .75;
    margin-bottom: 15px; }
    .news-detail .news-detail__head .detail-head__action {
      font-weight: bold;
      font-size: 14px; }
      .news-detail .news-detail__head .detail-head__action img {
        display: inline-block;
        width: 18px; }
      .news-detail .news-detail__head .detail-head__action .resize-text {
        font-size: 16px; }
        .news-detail .news-detail__head .detail-head__action .resize-text span {
          padding: 0 5px; }
          .news-detail .news-detail__head .detail-head__action .resize-text span:first-child {
            margin-right: 5px; }
      .news-detail .news-detail__head .detail-head__action .print {
        color: #337AB7; }
        .news-detail .news-detail__head .detail-head__action .print img {
          margin-right: 3px; }
  .news-detail .news-detail__thumbnail {
    padding-bottom: 15px; }
    .news-detail .news-detail__thumbnail .image-desc {
      font-size: 14px;
      text-align: center;
      color: #337ab7;
      display: block;
      padding: 5px 15px; }
  .news-detail .news-details__content {
    margin-bottom: 30px; }
    .news-detail .news-details__content p {
      margin-bottom: 16px;
      line-height: 30px; }
  .news-detail .news-detail__social {
    margin-bottom: 20px; }
    .news-detail .news-detail__social .social-item {
      text-align: center;
      color: #fff;
      display: inline-block;
      width: 100%;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity .2s ease; }
      .news-detail .news-detail__social .social-item img {
        width: 20px;
        display: inline-block;
        margin-right: 5px; }
      .news-detail .news-detail__social .social-item:hover {
        opacity: 0.75; }
    .news-detail .news-detail__social .social-facebook-share,
    .news-detail .news-detail__social .social-facebook-like {
      background-color: #00397a; }
    .news-detail .news-detail__social .social-zalo-share {
      background-color: #0068FF; }
    .news-detail .news-detail__social .social-weibo-share {
      background-color: #FFA929; }
  .news-detail .news-detail__tag {
    font-size: 14px;
    margin-bottom: 45px; }
    .news-detail .news-detail__tag .detail-tag__title {
      background: url("../images/icon-tag.png") no-repeat scroll 0 50% transparent;
      color: #222222;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding-left: 20px;
      padding-right: 5px;
      vertical-align: middle; }
    .news-detail .news-detail__tag li {
      display: inline-block; }
    .news-detail .news-detail__tag ul span {
      display: inline-block; }
      .news-detail .news-detail__tag ul span:not(.detail-tag__title) {
        border: solid 1px #d0d0cf;
        padding: 3px 10px;
        border-radius: 15px;
        margin: 3px; }
  .news-detail .news-detail__comment .detail-comment__title {
    color: #222222;
    margin-bottom: 5px;
    font-weight: bold; }
    .news-detail .news-detail__comment .detail-comment__title span {
      color: #404040;
      opacity: .75;
      font-weight: 400; }
  .news-detail .news-detail__comment textarea {
    width: 100%;
    padding: 10px 5px;
    outline: none; }
  .news-detail .fanpage {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0; }
    .news-detail .fanpage iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute; }
  .news-detail .news-related {
    border: solid 1px #e6e6e6;
    border-radius: 3px; }
    .news-detail .news-related .news-related__title {
      background-color: #f5f5f5;
      padding: 10px;
      border-bottom: solid 1px #e6e6e6;
      color: #222222; }
    .news-detail .news-related .news-related__list {
      padding: 15px; }
      .news-detail .news-related .news-related__list li:not(:last-child) {
        margin-bottom: 10px; }
      .news-detail .news-related .news-related__list li a {
        color: #337ab7;
        font-size: 14px; }
        .news-detail .news-related .news-related__list li a:hover {
          color: #da0000; }
        .news-detail .news-related .news-related__list li a span {
          color: #404040;
          font-size: 12px;
          opacity: .75; }
        .news-detail .news-related .news-related__list li a::before {
          content: '';
          width: 12px;
          height: 12px;
          background-color: #337ab7;
          display: inline-block;
          margin-right: 5px; }

/*
* REPONSIVE
*/
@media (max-width: 1199.98px) {
  .taskbar {
    border-top: unset;
    margin-top: 0; }

  .banner {
    display: none; }

  .block-news.media .media__wrapper {
    padding: 0 50px; }

  .main-menu {
    padding: 5px 0;
    background-color: #da0000; }
    .main-menu .logo-mobile,
    .main-menu .toogle-menu-mobile {
      display: block; }
    .main-menu .menu-mobile {
      position: fixed;
      width: 300px;
      background: #fff;
      z-index: 100;
      top: 0;
      bottom: 0;
      right: -300px;
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      transition: all .3s; }
      .main-menu .menu-mobile.active {
        right: 0;
        justify-content: flex-end !important;
        padding: 15px;
        flex-direction: column-reverse; }
        .main-menu .menu-mobile.active .main-menu__link {
          width: 100%;
          display: block !important;
          text-align: center; }
          .main-menu .menu-mobile.active .main-menu__link .link__homepage {
            display: none; }
          .main-menu .menu-mobile.active .main-menu__link ul li {
            display: block; }
            .main-menu .menu-mobile.active .main-menu__link ul li:not(:last-child) {
              margin-bottom: 30px; }
            .main-menu .menu-mobile.active .main-menu__link ul li a {
              font-size: 30px;
              padding: unset; }
              .main-menu .menu-mobile.active .main-menu__link ul li a:hover, .main-menu .menu-mobile.active .main-menu__link ul li a:active, .main-menu .menu-mobile.active .main-menu__link ul li a:focus {
                background: unset;
                color: blue; }
        .main-menu .menu-mobile.active .main-menu__search {
          width: 100%;
          border-bottom: solid 1px #cccbcb;
          padding-bottom: 15px;
          margin-bottom: 20px; }
    .main-menu .menu-mobile-overlay {
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 5;
      bottom: 0;
      right: 0;
      left: 0;
      position: fixed;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.5s; }
      .main-menu .menu-mobile-overlay.active {
        opacity: 1;
        visibility: visible; }
    .main-menu .main-menu__search input {
      min-height: 35px;
      min-width: 220px; }
    .main-menu .main-menu__search button {
      padding: 7px; } }
@media (max-width: 991.98px) {
  .news-highlight {
    margin-bottom: 35px; }
    .news-highlight .col-md-5, .news-highlight .col-md-7 {
      max-width: 100%;
      flex: 0 0 100%; }
    .news-highlight .news__first {
      margin-bottom: 35px; }
      .news-highlight .news__first .news-text {
        background-color: #cdccca;
        padding: 15px 10px;
        height: 100%; }
    .news-highlight .news__list .news__list-item .news-item.new-item--option .news-item__des {
      font-size: 16px; }

  .block-news {
    padding: 35px 0 0px 0; }
    .block-news .col-md-6 {
      max-width: 100%;
      flex: 0 0 100%; }
    .block-news.block-news--middle .col-md-3 {
      max-width: 100%;
      flex: 0 0 100%; }
    .block-news .block__first .block-new__text {
      background-color: #cdccca;
      padding: 15px 10px;
      height: 100%; }
    .block-news .block__second {
      margin-top: 30px; }
      .block-news .block__second .col-md-6 {
        max-width: 50%;
        flex: 0 0 50%; }
      .block-news .block__second .news:not(:last-child) {
        border-bottom: dashed 1px #cccbcb;
        padding-bottom: 22px;
        margin-bottom: 22px; }
      .block-news .block__second .news:last-child {
        margin-bottom: 20px; }
      .block-news .block__second .news .news-desc {
        margin-top: 5px; }
      .block-news .block__second .news.new--horizontal:not(:last-child).new--boder-bottom {
        border-style: dashed; }

  footer {
    padding: 30px 0; }
    footer .col-md-3, footer .col-md-9 {
      max-width: 100%;
      flex: 0 0 100%; }
    footer .footer__logo {
      max-width: 265px;
      margin: 0 auto;
      padding-bottom: 30px; }
    footer .footer__desc {
      width: 65%;
      font-size: 15px; }
    footer .footer__app {
      width: calc(100% - 65% - 10px); }
      footer .footer__app .qrcode {
        width: 36%; }
        footer .footer__app .qrcode .qrcode__des {
          font-size: 13px; }
      footer .footer__app .app__list {
        width: calc(100% - 36% - 10px); } }
@media (max-width: 767.98px) {
  .taskbar .taskbar__language li:not(:last-child) {
    margin-right: 10px; }
  .taskbar ul li {
    font-size: 12px; }

  .block-news .block__first .block-first__title {
    margin: 2px 0 7px; }
  .block-news.media {
    margin-left: -10px;
    margin-right: -10px; }
    .block-news.media .media__wrapper {
      padding: 0 10px; }
  .block-news .block__second .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%; }

  footer .footer__right {
    flex-direction: column; }
    footer .footer__right .footer__desc {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px; }
    footer .footer__right .footer__app {
      width: auto;
      max-width: 230px;
      margin: 0 auto; } }
@media (max-width: 575.98px) {
  .news-highlight .news__first .news-first__title {
    margin: 5px 0 0;
    font-size: 25px; }
  .news-highlight .news__first .news-first__desc {
    margin-top: 15px;
    font-size: 18px; }

  .block-news.media .media__wrapper .media__head .media__category {
    position: relative; }
    .block-news.media .media__wrapper .media__head .media__category .media-category__label {
      display: block; }
    .block-news.media .media__wrapper .media__head .media__category ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 0.5s linear;
      margin-top: 1rem;
      left: 0;
      display: none;
      background-color: #ffff;
      z-index: 10;
      padding: 15px 5px 10px; }
      .block-news.media .media__wrapper .media__head .media__category ul.active {
        visibility: visible;
        opacity: 1;
        display: block; }
      .block-news.media .media__wrapper .media__head .media__category ul li {
        display: block; }
        .block-news.media .media__wrapper .media__head .media__category ul li::after {
          display: none; }
        .block-news.media .media__wrapper .media__head .media__category ul li:not(:last-child) {
          padding-bottom: 5px;
          margin-bottom: 10px;
          border-bottom: dashed 1px #cccbcb; }
        .block-news.media .media__wrapper .media__head .media__category ul li a {
          display: block; } }

/*# sourceMappingURL=style.css.map */
